@model List<ShopManage.Models.OrderDetail>

@{
    ViewBag.Title = "SingleProduct";
    ViewBag.ChineseTitleName = "單品分析";
}

<div class="content-top">
    <div class="col-md-4">
        <div class="content-top-1">
            <label style="font-size:20px">主餐各餐品銷售數量:</label>
            <div class="top-content">
                <canvas id="chartJs1"></canvas>
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="clearfix"></div>
        
    </div>
    
    @*<div class="col-md-3">
    <div class="content-top-1">
        <div class="content">
            <label style="font-size:20px">前菜各餐品銷售比:</label>
            <canvas id="chartJs2"></canvas>

        </div>

    </div>

</div>*@



    <div class="col-md-8">
        <div class="content-top-1">
            <canvas id="myChart"></canvas>        
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div>
        <div class="col-md-3">
            <div class="content-top-1">
                <div class="content">
                    <label style="font-size:20px">前菜各餐品銷售比:</label>
                    <canvas id="chartJs2"></canvas>

                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="content-top-1">
                <label style="font-size:20px">飲料各餐品銷售比:</label>
                <canvas id="chartJs3"></canvas>

            </div>
        </div>
        <div class="col-md-3">
            <div class="content-top-1">
                <label style="font-size:20px">甜點各餐品銷售比:</label>
                <canvas id="chartJs4"></canvas>

            </div>
        </div>
        <div class="col-md-3">
            <div class="content-top-1">
                <label style="font-size:20px">湯品各餐品銷售比:</label>
                <canvas id="chartJs5"></canvas>

            </div>
            <div class="clearfix"></div>
        </div>



    </div>

</div>
<div class="clearfix"></div>

<style>
    #chartJs1 {
        height: 100% !important;
        width: 100% !important;
        margin-top: 5%;
        
    }
    #myChart{
        height: 300px !important;
    }
    

</style>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>


<script type="text/javascript">


    //設定資料導入的地方
    var QuantityID1 = [];//ID==1 時 黃金薯條的數量
    var QuantityID2 = [];//ID==2 時 焗烤肉醬薯條的數量
    var QuantityID3 = [];//ID==3 時 墨西哥香辣菲力牛肉披薩的數量
    var QuantityID4 = [];//ID==4 時 炭烤沙朗心牛排 的數量
    var QuantityID5 = [];//ID==5 時 紹興酒奶油雞腿排 的數量
    var QuantityID6 = [];//ID==6 時 軟殼蟹蛤蜊花義大利麵佐香檸奶汁 的數量
    var QuantityID7 = [];//ID==7 時 紅醬蕃茄綜合海鮮麵 的數量
    var QuantityID8 = [];//ID==8 時 夏多內花蜜醋 的數量
    var QuantityID9 = [];//ID==9 時 蜜桃初戀泡泡 的數量
    var QuantityID10 = [];//ID==10 時 蜜釀鳳梨冰茶 的數量
    var QuantityID11 = [];//ID==11 時 季節水果茶 的數量
    var QuantityID12 = [];//ID==12 時 橙花君度檸檬塔 的數量
    var QuantityID13 = [];//ID==13 時 巧克力慕斯 的數量
    var QuantityID14 = [];//ID==14 時 玫瑰生乳酪蛋糕 數量
    var QuantityID15 = [];//ID==15 時 冰淇淋QQ鬆餅的數量
    var QuantityID16 = [];//ID==16 時 蛋糕三重奏的數量
    var QuantityID17 = [];//ID==17 時 核桃燕麥鬆餅的數量
    var QuantityID18 = [];//ID==18 時 特調玉米濃湯的數量
    var QuantityID19 = [];//ID==19 時 意大利番茄湯的數量
    var QuantityID20 = [];//ID==20 時 意大利婚禮湯的數量
    var QuantityID21 = [];//ID==21 時 原味白豆湯的數量
    var QuantityID22 = [];//ID==22 時 香料蔬菜湯的數量




        @foreach (var item in Model)
        {
            var i = 1;

            if (item.ProductID == 1)
            {
                <text>  //
    QuantityID1.push(@item.Quantity);
    //console.log(QuantityID1)
                </text>
                
            }

           
            else if (item.ProductID == 2)
            {
                <text>
                    QuantityID2.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 3)
            {
                <text>
                    QuantityID3.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 4)
            {
                <text>
                    QuantityID4.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 5)
            {
                <text>
                    QuantityID5.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 6)
            {
                <text>
                    QuantityID6.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 7)
            {
                <text>
                    QuantityID7.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 8)
            {
                <text>
                    QuantityID8.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 9)
            {
                <text>
                    QuantityID9.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 10)
            {
                <text>
                    QuantityID10.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 11)
            {
                <text>
                    QuantityID11.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 12)
            {
                <text>
                    QuantityID12.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 13)
            {
                <text>
                    QuantityID13.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 14)
            {
                <text>
                    QuantityID14.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 15)
            {
                <text>
                    QuantityID15.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 16)
            {
                <text>
                    QuantityID16.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 17)
            {
                <text>
                    QuantityID17.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 18)
            {
                <text>
                    QuantityID18.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 19)
            {
                <text>
                    QuantityID19.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 20)
            {
                <text>
                    QuantityID20.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 21)
            {
                <text>
                    QuantityID21.push(@item.Quantity);

                </text>

            }
            else if (item.ProductID == 22)
            {
                <text>
                    QuantityID22.push(@item.Quantity);

                </text>

            }


        }



    var reducer = (accumulator, currentValue) => accumulator + currentValue;
    //console.log(QuantityID23.reduce(reducer))


    var ctx = document.getElementById("chartJs1").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['墨西哥香辣菲力牛肉披撒','炭烤沙朗心牛排與脆皮雞腿排','紹興酒奶油雞腿排','軟殼蟹蛤蜊花義大利麵佐香檸奶汁','紅醬蕃茄綜合海鮮麵'
            ],
            datasets: [
                {
                    data: [QuantityID3.reduce(reducer), QuantityID4.reduce(reducer), QuantityID5.reduce(reducer), QuantityID6.reduce(reducer), QuantityID7.reduce(reducer)],
                    backgroundColor: [
                        "#8b0000","#bc3a3a","#c71585",'#ff4500','#db7093'
                    ],
                    hoverBackgroundColor: [ "#8b0000","#cd5c5c","#c71585",'#ff4500','#db7093'
                    ],
                    borderWidth: 2
                }],
        },
        options: {
            tooltips: {
                display: true,
                caretSize: 20,
                bodyFontSize: 18

            },
            legend: {
                display: false,
            },
            title: {

            }
        }
    });


    var ctx = document.getElementById("chartJs2").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                '黃金薯條',
                '焗烤肉醬薯條',

            ],
            datasets: [
                {
                    data: [QuantityID1.reduce(reducer), QuantityID2.reduce(reducer)],
                    backgroundColor: [
                        "#adff2f",
                        "#008000",
                        "#228b22",
                        '#32cd32',

                    ],
                    hoverBackgroundColor: [
                        "#adff2f",
                        "#008000",
                        "#228b22",
                        "#32cd32",

                    ],
                    borderWidth: 2
                }],
        },
        options: {
            tooltips: {
                display: true,
                caretSize: 20,
                bodyFontSize: 18

            },
            legend: {
                display: false,
            }
        }
    });


    //
    var ctx = document.getElementById("chartJs3").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                '夏多內花蜜醋',
                '蜜桃初戀泡泡',
                '蜜釀鳳梨冰茶',
                '季節水果茶',

            ],
            datasets: [
                {
                    data: [QuantityID8.reduce(reducer), QuantityID9.reduce(reducer), QuantityID10.reduce(reducer), QuantityID11.reduce(reducer)],
                    backgroundColor: [
                        "#1e90ff",
                        "#00bfff",
                        "#0000ff",
                        '#00008b',

                    ],
                    hoverBackgroundColor: [
                        "#1e90ff",
                        "#00bfff",
                        "#0000ff",
                        '#00008b',

                    ],
                    borderWidth: 2
                }],
        },
        options: {
            tooltips: {
                display: true,
                caretSize: 20,
                bodyFontSize: 18

            },
            legend: {
                display: false,
            }
        }
    });


    //
    var ctx = document.getElementById("chartJs4").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                '橙花君度檸檬塔',
                '巧克力慕斯',
                '玫瑰生乳酪蛋糕',
                '冰淇淋QQ鬆餅',
                '蛋糕三重奏',
                '核桃燕麥鬆餅'
            ],
            datasets: [
                {
                    data: [QuantityID12.reduce(reducer), QuantityID13.reduce(reducer), QuantityID14.reduce(reducer), QuantityID15.reduce(reducer), QuantityID16.reduce(reducer), QuantityID17.reduce(reducer)],
                    backgroundColor: [
                        "#ffcc00",
                        "#ffb84d",
                        "#ff6633",
                        '#e68200',
                        '#ffff00',
                        '#cdb800'

                    ],
                    hoverBackgroundColor: [
                        "#ffcc00",
                        "#ffb84d",
                        "#ff6633",
                        '#e68200',
                        '#ffff00',
                        '#cdb800'

                    ],
                    borderWidth: 2
                }],
        },
        options: {
            tooltips: {
                display: true,
                caretSize: 20,
                bodyFontSize: 18

            },
            legend: {
                display: false,
            }
        }
    });


    //
    var ctx = document.getElementById("chartJs5").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                '特調玉米濃湯',
                '意大利番茄湯',
                '意大利婚禮湯',
                '原味白豆湯',
                '香料蔬菜湯',

            ],
            datasets: [
                {
                    data: [QuantityID18.reduce(reducer), QuantityID19.reduce(reducer), QuantityID20.reduce(reducer), QuantityID21.reduce(reducer), QuantityID22.reduce(reducer)],
                    backgroundColor: [
                        "#800080",
                        "#cd00cd",
                        "#9370db",
                        '#4d2673',
                        '#7447d1'
                    ],
                    hoverBackgroundColor: [
                        "#800080",
                        "#cd00cd",
                        "#9370db",
                        '#4d2673',
                        '#7447d1'
                    ],
                    borderWidth: 2
                }],
        },
        options: {
            tooltips: {
                display: true,
                caretSize: 20,
                bodyFontSize: 18,
            },
            legend: {
                display: false,
            }
        }
    });


    //console.log(QuantityID18.reduce(reducer) + QuantityID19.reduce(reducer))

    var ctx = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontSize = 18;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels:['前菜', '主菜', '湯品', '甜點', '飲料'],
                    datasets: [{
                        scaleStartValue: 10,
                        label: '當月銷售',
                        data: [
                            QuantityID1.reduce(reducer) + QuantityID2.reduce(reducer),
                            QuantityID3.reduce(reducer) + QuantityID4.reduce(reducer) + QuantityID5.reduce(reducer) + QuantityID6.reduce(reducer) + QuantityID7.reduce(reducer),
                            QuantityID8.reduce(reducer) + QuantityID9.reduce(reducer) + QuantityID10.reduce(reducer) + QuantityID11.reduce(reducer),
                            QuantityID12.reduce(reducer) + QuantityID13.reduce(reducer) + QuantityID14.reduce(reducer) + QuantityID15.reduce(reducer) + QuantityID16.reduce(reducer) + QuantityID17.reduce(reducer),
                            QuantityID18.reduce(reducer) + QuantityID19.reduce(reducer) + QuantityID20.reduce(reducer) + QuantityID21.reduce(reducer) + QuantityID22.reduce(reducer)
                        ],
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.4)',
                            'rgba(255, 99, 132, 0.3)',
                            'rgba(255, 206, 86, 0.3)',
                            'rgba(54, 162, 235, 0.3)',
                            'rgba(153, 102, 255, 0.4)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 5,
                    }]
                },
                options:
                {
                    legend: {
                        display: false,
                        labels: {
                            //fontColor: 'rgb(255, 99, 132)'
                        }
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                        }]
                    }
                }
            });




</script>

