@model List<ShopManage.Models.OrderDetail>

@{
    ViewBag.Title = "SingleProduct";
    ViewBag.ChineseTitleName = "單品分析";
}

<div class="content-top">
    <div class="col-md-4">
        <div class="content-top-1">
            <div class="top-content">
                <canvas id="chartJs1"></canvas>

            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="content-top-1">
            <div class="top-content">
                <h1>
                    張兒代，間是我會為……主示要師面影生我他中最太，實見合希國：以此為開痛連世望代樂小步要位司人，全的未裡自不精細主因使總做里做下，裡可年以考早青；中能不人多的登受量作；像底安去少定推每，間友方二同兩，要間北片年旅幾單教過和必多另太，放有成嗎們、他強紅下：舉我進計多有業要工度才找長結在，好狀老般前，最要有然果日……化是為視治統工用孩子，子興筆。的童影病狀面走切：止本物下盡；愛留點動，快品被格上好導是養到大確腦老口麼兒。童臉線信為……爾名的率業定我，從在活它，團家就的是開然國學給。
                </h1>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-md-3">
        <div class="content-top-1">
            <div class="top-content">
                <div class="top-content">
                    <canvas id="chartJs2"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="content-top-1">
            <div class="top-content">
                <div class="top-content">
                    <canvas id="chartJs3"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-top-1">
            <div class="top-content">
                <div class="top-content">
                    <canvas id="chartJs4"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-top-1">
            <div class="top-content">
                <div class="top-content">
                    <canvas id="chartJs5"></canvas>
                </div>
            </div>
        </div>
    </div>

    @*<canvas id="chartJs"></canvas>*@




</div>
<div class="clearfix"></div>

<style>
    #chartJs1 {
        height: 200px !important;
        width: 400px !important;
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>


<script type="text/javascript">


    //設定資料導入的地方
    var QuantityID1 = []; //ID==1 時 凱薩沙拉的數量
    var QuantityID2 = [];//ID==2 時 黃金薯條的數量
    var QuantityID3 = [];//ID==3 時 焗烤肉醬薯條的數量
    var QuantityID4 = [];//ID==4 時 墨西哥香辣菲力牛肉披薩的數量
    var QuantityID5 = [];//ID==5 時 炭烤沙朗心牛排與脆皮雞腿排的數量
    var QuantityID6 = [];//ID==6 時 紹興酒奶油雞腿排的數量
    var QuantityID7 = [];//ID==7 時 軟殼蟹蛤蜊花義大利麵佐香檸奶汁的數量
    var QuantityID8 = [];//ID==8 時 紅醬蕃茄綜合海鮮麵的數量
    var QuantityID9 = [];//ID==9 時 夏多內花蜜醋的數量
    var QuantityID10 = [];//ID==10 時 蜜桃初戀泡泡的數量
    var QuantityID11 = [];//ID==11 時 蜜釀鳳梨冰茶的數量
    var QuantityID12 = [];//ID==12 時 季節水果茶的數量
    var QuantityID13 = [];//ID==13 時 橙花君度檸檬塔的數量
    var QuantityID14 = [];//ID==14 時 巧克力慕斯的數量
    var QuantityID15 = [];//ID==15 時 玫瑰生乳酪蛋糕的數量
    var QuantityID16 = [];//ID==16 時 冰淇淋QQ鬆餅的數量
    var QuantityID17 = [];//ID==17 時 蛋糕三重奏的數量
    var QuantityID18 = [];//ID==18 時 核桃燕麥鬆餅的數量
    var QuantityID20 = [];//ID==20 時 特調玉米濃湯的數量
    var QuantityID21 = [];//ID==21 時 意大利番茄湯的數量
    var QuantityID22 = [];//ID==22 時 意大利婚禮湯的數量
    var QuantityID23 = [];//ID==23 時 原味白豆湯的數量
    var QuantityID24 = [];//ID==24 時 香料蔬菜湯的數量



        @foreach (var item in Model)
        {

            if (item.ProductID == 1)
            {
                <text>
                    QuantityID1.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 2)
            {
                <text>
                    QuantityID2.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 3)
            {
                <text>
                    QuantityID3.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 4)
            {
                <text>
                    QuantityID4.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 5)
            {
                <text>
                    QuantityID5.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 6)
            {
                <text>
                    QuantityID6.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 7)
            {
                <text>
                    QuantityID7.push(@item.Quantity);
                </text>

            }
            else if (item.ProductID == 8)
            {
                <text>
                    QuantityID8.push(@item.Quantity);
   
                </text>

            }


         @*<text>


        quantity.push(@item.Quantity);


         </text>*@
        };

    var reducer = (accumulator, currentValue) => accumulator + currentValue;
    

    console.log(QuantityID1.reduce(reducer))

    var ctx = document.getElementById("chartJs1").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                '墨西哥香辣菲力牛肉披撒',
                '炭烤沙朗心牛排與脆皮雞腿排',
                '紹興酒奶油雞腿排',
                '軟殼蟹蛤蜊花義大利麵佐香檸奶汁',
                '紅醬蕃茄綜合海鮮麵'
            ],
            datasets: [
                {
                    data: [QuantityID1.reduce(reducer), QuantityID2.reduce(reducer), QuantityID3.reduce(reducer)],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56",
                        '#e5a1a8',
                        '#71d465'

                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56",
                        '#e5a1a8',
                        '#71d465'
                    ],
                    borderWidth: 2
                }],


        },

        options: {
            legend: {
                display: false,
            }

        }


    });


    ////
    //var ctx = document.getElementById("chartJs2").getContext('2d');
    //var myDoughnutChart = new Chart(ctx, {
    //    type: 'doughnut',
    //    data: {
    //        labels: [
    //            'Red',
    //            'Yellow',
    //            'Blue'
    //        ],
    //        datasets: [
    //            {
    //                data: [30, 50, 100],
    //                backgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"

    //                ],
    //                hoverBackgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"
    //                ],
    //                borderWidth: 2
    //            }],


    //    },

    //    options: {
    //        legend: {
    //            display: false,
    //        }

    //    }


    //});

    ////
    //var ctx = document.getElementById("chartJs3").getContext('2d');
    //var myDoughnutChart = new Chart(ctx, {
    //    type: 'doughnut',
    //    data: {
    //        labels: [
    //            'Red',
    //            'Yellow',
    //            'Blue'
    //        ],
    //        datasets: [
    //            {
    //                data: [30, 50, 100],
    //                backgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"

    //                ],
    //                hoverBackgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"
    //                ],
    //                borderWidth: 2
    //            }],


    //    },

    //    options: {
    //        legend: {
    //            display: false,
    //        }

    //    }


    //});

    ////
    //var ctx = document.getElementById("chartJs4").getContext('2d');
    //var myDoughnutChart = new Chart(ctx, {
    //    type: 'doughnut',
    //    data: {
    //        labels: [
    //            'Red',
    //            'Yellow',
    //            'Blue'
    //        ],
    //        datasets: [
    //            {
    //                data: [30, 50, 100],
    //                backgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"

    //                ],
    //                hoverBackgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"
    //                ],
    //                borderWidth: 2
    //            }],


    //    },

    //    options: {
    //        legend: {
    //            display: false,
    //        }

    //    }


    //});

    ////
    //var ctx = document.getElementById("chartJs5").getContext('2d');
    //var myDoughnutChart = new Chart(ctx, {
    //    type: 'doughnut',
    //    data: {
    //        labels: [
    //            'Red',
    //            'Yellow',
    //            'Blue'
    //        ],
    //        datasets: [
    //            {
    //                data: [30, 50, 100],
    //                backgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"

    //                ],
    //                hoverBackgroundColor: [
    //                    "#FF6384",
    //                    "#36A2EB",
    //                    "#FFCE56"
    //                ],
    //                borderWidth: 2
    //            }],


    //    },

    //    options: {
    //        legend: {
    //            display: false,
    //        }

    //    }


    //});



    @*
    //圖表
    var ctx = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontSize = 40;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    //labels: [productname[0], productname[1], productname[3], productname[4], productname[5], productname[6]],
                    labels:['前菜', '主菜', '湯品', '甜點', '飲料'],
                    datasets: [{
                        scaleStartValue: 10,
                        label: '當月銷售',
                        data: [quantity[0], quantity[28], quantity[74], quantity[99], quantity[68]],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(54, 162, 235, 0.2)',

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(54, 162, 235, 2)',

                        ],
                        borderWidth: 5,
                    }]
                },
                options:
                {
                    tooltips: {
                        callbacks: {

                        },
                        display: true,
                        backgroundColor: 'rgba(41, 36, 33, 0.8)',
                        caretSize: 20,
                        xPadding: 10,
                        yPadding:10,
                    },

                    //頂部的顏色與設置地方
                    legend: {
                        display: false,
                        labels: {
                            //fontColor: 'rgb(255, 99, 132)'
                        }
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,

                        }]
                    }
                }
            });*@




</script>

